@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: Commissioner, sans-serif;
}

.nav {
    padding:20px;
    text-align:center;
}

body {
    background-color:#3267c2;
}

.biden {
    height:60vh;
    width:45vh;
    margin-left: 10vh;
    margin-top: 5vh;
}

.content {
    position:absolute;
    left:70vh;
    top:14.5vh;
    height:60vh;
    width:90vh;

}

.title {
    text-align:center;
    font-size:40px;
    color:#1d2a59;
}

p {
    font-size: 25px;
    color:#1d2a59;
}


.main {
    height: 50px;
    width: 120px;
    font-size:20px;
    margin-left:15px;
    margin-right:15px;
    font-weight:bold;
}

.main:hover {
    background-color: #c2c2c2;
    cursor:pointer;
}

.demo {
    height: 50px;
    width: 120px;
    font-size:20px;
    font-weight:bold;
}

.demo:hover {
    background-color: #c2c2c2;
    cursor:pointer;
}

.repub {
    height: 50px;
    width: 120px;
    font-size:20px;
    font-weight:bold;
}

.repub:hover {
    background-color: #c2c2c2;
    cursor:pointer;
}

a {
    color:#3267c2;
    text-decoration: none;
}

a:hover {
    color:#f2564b;
}

footer {
    text-align:center;
    margin-top: 18vh;
}

.links > a{
    color:#1d2a59;
    text-decoration: underline;
    margin-left:10px;
    margin-right:10px;
}

.links > a:hover{
    color:#121930;
}

.links {
    position:absolute;
    bottom:0px;
    margin-left: 26vh;
    

}
